<!DOCTYPE html>
<html>
<head>
  <title>Library Management Portal</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="icon" href="/icons8-library-16.png">
  <style>
    body{
        background-color: #e4d6d5;
    }
  </style>
</head>
<body>
  <nav class="navbar" style="background-color:#dcbbb9">
    <div class="container-fluid">
      <h1 class="navbar-brand">
        <img src="icons8-library-16.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        Library Management Portal
      </h1>
      </div>
  </nav>
  <div class="container">
    <h1 class="mt-5">Library Management Portal</h1>
    <p class="lead">Efficiently manage your library with our powerful system.</p>
    <p>Key features:</p>
    <ul>
      <li>Search for your favourite books</li>
      <li>Track books and their availability</li>
      <li>Add and Update the Library</li>
      <li>Delete the Unecessary stuff</li>
      <li>Streamline library operations</li>
    </ul>
    <div>
        <a href="/admin-registration" class="btn btn-danger btn-lg">Get Started As Admin</a>

    </div>
    <div class="mt-3">
        <a href="/user-registration" class="btn btn-danger btn-lg">Get Started As User</a>

    </div>
   

  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
</body>
</html>
